{% extends 'base2.html' %}

{% block content %}
{% for resource in game.resources %}
    {% if resource.resource_type == 'v' %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{resource.link}}"></iframe>
        </div>
    {% elif resource.resource_type == 'i' %}
        <img src="{{ MEDIA_URL }}{{game.main_image}}" class="img-fluid" alt="{{ resource.link }}">
    {% endif %}
{% endfor %}
{% if sponsors %}
<span class="d-block p-3 bg-dark text-white text-uppercase mt-4 mb-4">sponsors</span>
{% endif %}
<div class="d-flex flex-wrap">
    {% for sponsor in sponsors %}
        <div class="p-2 bd-highlight col-4">
            <img src="{{ sponsor.image_link }}" class="figure-img img-fluid rounded" alt="{{ sponsor.description }}">
        </div>
    {% endfor %}
</div>

<!-- <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
</div> -->
{% endblock %}