{% extends 'base2.html' %}

{% block content %}
<form method="get" class="form-inline">
    <label class="sr-only">{{ form.competition.label }} </label>
    {{ form.competition }}

    <label class="sr-only">{{ form.division.label }} </label>
    {{ form.division }}

    <label class="sr-only">{{ form.team_type.label }} </label>
    {{ form.team_type }}

    <label class="sr-only">{{ form.search.label }} </label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 flex-grow-1 bd-highlight" name="search" id="control-search" value="{{form.search.value|default:''}}" placeholder="Search name...">

    <label class="sr-only">{{ form.sort_key.label }} </label>
    {{ form.sort_key }}

    <button class="btn btn-dark bd-highlight" type="submit">Search&nbsp;&nbsp;<i class="fas fa-search fa-x"></i></button>
</form>

<div class="table-responsive"><table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            {% for header in leaderboard.header %}
                {% if forloop.first %}
                    <th class="text-uppercase">RANK</th>
                {% endif %}
                <th class="text-uppercase">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for data in leaderboard.data %}
            <tr>
                <th class="text-uppercase">{{ forloop.counter }}</th>
                {% for detail_data in data %}
                    <td scope="row">
                        <span>{{ detail_data|default:'-' }}</span>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endblock %}