{% extends 'base2.html' %}

{% block content %}
<form method="get">
    <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight">
            <label class="mr-sm-2 form-control-sm text-uppercase font-weight-bold" for="inlineFormCustomSelect">{{ form.division.label }}</label>
            {{ form.division }}
        </div>
        <div class="p-2 flex-grow-1 bd-highlight">
            <label class="mr-sm-2 form-control-sm text-uppercase font-weight-bold" for="inlineFormCustomSelect">{{form.search.label}}</label>
            <input type="text" class="form-control form-control-sm mr-sm-2" name="search" id="control-search" value="{{form.search.value|default:''}}">
        </div>

        <div class="p-2 bd-highlight">
            <button class="btn btn-sm btn-block form-control form-control-sm mr-sm-2 h-100" type="submit">
                <i class="fas fa-search fa-3x"></i>
            </button>
        </div>
    </div>
</form>


<div class="table-responsive"><table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            {% for header in leaderboard.header %}
                {% if forloop.first %}
                    <th class="text-uppercase">RANK</th>
                {% endif %}
                <th class="text-uppercase">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for data in leaderboard.data %}
            <tr>
                <th class="text-uppercase">{{ forloop.counter }}</th>
                {% for detail_data in data %}
                    <td scope="row">
                        <span>{{ detail_data|default:'-' }}</span>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endblock %}