{% extends 'base2.html' %}

{% block content %}
{% if wods %}
<ul class="nav nav-pills border border-dark nav-fill" id="pills-tab" role="tablist">
    {% for key, wod in wods.items %}
        <li class="nav-item">
            {% if forloop.first %} 
                <a
                    class="nav-link active show"
                    id="pills-{{ wod.name }}-tab"
                    data-toggle="pill"
                    href="#pills-{{ wod.name }}"
                    role="tab"
                    aria-controls="pills-{{ wod.name }}"
                    aria-selected="true">
                    WOD&nbsp;{{ forloop.counter }}
                </a>
            {% else %}
                <a
                    class="nav-link"
                    id="pills-{{ wod.name }}-tab"
                    data-toggle="pill"
                    href="#pills-{{ wod.name }}"
                    role="tab"
                    aria-controls="pills-{{ wod.name }}"
                    aria-selected="false">
                    WOD&nbsp;{{ forloop.counter }}
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>


<div class="tab-content" id="pills-tabContent">
    {% for id, wod in wods.items %}
        {% if forloop.first %}
            <div class="tab-pane fade show active" id="pills-{{ wod.name }}" role="tabpanel" aria-labelledby="pills-{{ wod.name }}-tab">
        {% else %}
            <div class="tab-pane fade" id="pills-{{ wod.name }}" role="tabpanel" aria-labelledby="pills-{{ wod.name }}-tab">
        {% endif %}
        <div class="bg-dark pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
            <div class="my-3 py-3">
                {% if wod.is_active %}
                <h2 class="display-5"> {{ wod.name }}</h2>
                {% else %}
                <h2 class="display-5"> NO WOD </h2>
                {% endif %}
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;">
                {% if wod.is_active %}
                    {% if wod.video_link %}
                    <div class="embed-responsive embed-responsive-4by3" style="border-radius: 21px 21px 0 0;">
                        <iframe class="embed-responsive-item" src="{{wod.video_link}}&showinfo=0&autohide=1"></iframe>
                    </div>
                    {% endif %}
                    {% if wod.image_link %}
                    <img src="{{ wod.image_link }}" class="img-fluid" alt="{{ wod.image_link }}">
                    {% endif %}
                    <pre class="pb-4"><code>
                        {{ wod.description }}
                    </code></pre>
                {% else %}
                    <pre class="pb-4"><code>
                    Comming soon
                    .
                    .
                    .
                </code></pre>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="tab-content">
    <div class="tab-pane fade show active">
        <div class="bg-dark text-center text-white">
            <div class="my-3 py-3">
                <h2 class="display-5"> NO WOD </h2>
                <p class="lead"></p>
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;">
                <pre class="pb-4"><code>
                    Comming soon
                    .
                    .
                    .
                </code></pre>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}