{% extends 'games-base.html' %}

{% block header %}
<div class="container" style="background:#FFF;">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">

            </div>
            <div class="col-4 text-center">
                <a class="text-muted" href="{% url 'game-detail' game_id=game.id %}">
                    <img class="img-fluid log-container" src="{{ game.logo_image.build_url }} " alt="{{ game.name }}">
                </a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
        </div>
    </header>
    <div class="container">
            <div class="nav-scroller py-1 mb-2">
                <!--  justify-content-between -->
                <nav class="nav d-flex">
                    <a class="p-2 text-muted" href="{% url 'game-leaderboard' game_id=game.id %}">Leader board</a>
                    {% for comp in competitions %}
                        {% if competition.id == comp.id %}
                            <a class="p-2 text-dark font-weight-bold" href="{% url 'competition-detail' game_id=game.id competition_id=comp.id %}">{{ comp.name }}</a>
                        {% else %}
                            <a class="p-2 text-muted" href="{% url 'competition-detail' game_id=game.id competition_id=comp.id %}">{{ comp.name }}</a>
                        {% endif %}

                    {% endfor %}
                </nav>
            </div>
        </div>
</div>
{% endblock %}
